[submodule "Extern/glfw"]
	path = Extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Extern/entt"]
	path = Extern/entt
	url = https://github.com/skypjack/entt.git
[submodule "Extern/glslang"]
	path = Extern/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Extern/glm"]
	path = Extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "Extern/Violent"]
	path = Extern/Violent
	url = https://github.com/CAt0mIcS/Violent.git
[submodule "Extern/Ion"]
	path = Extern/Ion
	url = https://github.com/CAt0mIcS/Ion.git
[submodule "Extern/rapidjson"]
	path = Extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "Extern/freetype2"]
	path = Extern/freetype2
	url = http://git.sv.nongnu.org/r/freetype/freetype2.git
[submodule "Extern/mono"]
	path = Extern/mono
	url = https://github.com/CAt0mIcS/Mono-Build
