[submodule "extern/glm"]
	path = src/Ray/extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/glfw"]
	path = src/Ray/extern/glfw
	url = https://github.com/CAt0mIcS/glfw.git
[submodule "src/Ray/extern/entt"]
	path = src/Ray/extern/entt
	url = https://github.com/skypjack/entt.git
